@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgb(217, 217, 217);
    transition: background-color 0.5s ease; /* Geçiş efektini eklemek için */
}

body.dark-mode {
    background-color: rgb(27, 27, 27);
    color: white;
}

body.dark-mode a {
    color: lightyellow
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-kutu {
    display: flex;
    align-items: center;
}

header {
    padding: 2rem 0;
    justify-content: space-between;
}

.haber-liste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

footer {
    padding: 1rem 0;
    border-top: 2px solid gray;
    margin-top: 2rem !important;
    justify-content: space-between;
}

form.iletisim-formu {
    padding: 2rem 0;
}

form.iletisim-formu label {
    display: block;
}

form.iletisim-formu > div {
    margin-bottom: 1rem;
}

form.iletisim-formu h2 {
    margin-bottom: 0.5rem;
}

input, textarea {
    padding: 0.6rem 0.8rem;
}